<!DOCTYPE html>
<html lang="ja">
{{ template "head" .}}
<body>
{{ template "header" .}}
<div class="tag"><h2>Tag : {{ .tagName }}</h2></div>
{{ range .titleList }}<article class="entry">
<h2><a href="{{ .URI }}">{{ .Title }}</a></h2>
<div class="entry-meta">
<time datetime="{{ .PublishDate }}">{{ dtFormat .PublishDate }}</time>
<span class="right">{{ range $i, $v := .Tags }}{{ if eq $i 0 }}<a href="{{ $v.TagURI }}">{{ $v.TagName }}</a>{{ else }}, <a href="{{ $v.TagURI }}">{{ $v.TagName }}</a>{{ end }}{{ end }}</span>
</div>
</article>{{ end }}
{{ template "tags" .}}
{{ template "footer" .}}
{{ template "prism_js" .}}
</body>
</html>